
<nav class="navbar">
    <div class="navbar-brand"><img src="https://static1.squarespace.com/static/5e6f0b6e123de724cdb5c87c/t/5e8afaaad84e09477e2089f1/1586166448489/BWLDR+LOGO+blackBAG--cir.png
      " [routerLink]="['']"></div>
    <ul class="nav-links">
      <li><a [routerLink]="['/bouquets']">See All Products</a></li>
      <li><a [routerLink]="['/customise']">Customise A Bouquet</a></li>
      <!-- Add more navigation links as needed -->
    </ul>
    
    <ul class="nav-links">
        <li><a (click)="openSignInModal()">Sign In</a></li>
      </ul>

      <div class="cart-icon">
        <i class="fa fa-shopping-cart"></i>
        <span class="cart-counter">0</span>
      </div>
  </nav>