<div class="customise-page">
    
    <h1>CUSTOMISE A BOUQUET</h1>

<div class="select-custom-type">
    <form [formGroup]="typeForm">
        <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td><h2> Select Type of Bouquet: </h2></td>
                    <td><select id="type" name="type" formControlName="type" (change)="selectType($event)" class="select-dropdown">
                            <option value="edible" > Edible Bouquet</option>
                            <option value="dried" > Dried Bouquet</option>
                        </select></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>




<form *ngIf="isDried" id="driedBouquetForm" class="dried-bouquet-form">
    <table>
        <tr>

            <td> <h3> Pick Two Mushrooms: </h3> </td>
            <td>
                <div class="option-card form-check form-check-inline">
                    
                    <img src="https://liquidfungi.com/cdn/shop/products/REISHI-MUSHROOMS-2-1.jpg?v=1629945541&width=1000" alt="Antlers Lingzhi">
                    <div><input class="form-check-input" type="checkbox" id="antlersLingzhi" value="antlersLingzhi" (change)="handleMushCheckboxChange($event)"></div>
                    <div> <label class="form-check-label" >Sessile Antlers </label> </div>
                    
                   
                </div>
                <div class="option-card form-check form-check-inline">

                    <img src="https://liquidfungi.com/cdn/shop/products/7d7f2ea702b728a1f2786d519fbf3f79_cropped_optimized.jpg?v=1629946532&width=1000" alt="Conks">
                    <div><input class="form-check-input" type="checkbox" id="conksLingzhi" value="conksLingzhi" (change)="handleMushCheckboxChange($event)"></div>
                    <div><label class="form-check-label"   >Sessile Conks </label></div>
                    

                </div>
                <div class="option-card form-check form-check-inline">
                    <img src="https://images.squarespace-cdn.com/content/v1/5e6f0b6e123de724cdb5c87c/1662867919352-PFCVHRXL62VIQRV2HIFM/75525361-1894-4CD5-81A6-813910ACACE5.JPG?format=1500w" alt="NeoJap">
                    
                    <div><input class="form-check-input" type="checkbox" id="blackLingzhi" value="blackLingzhi" (change)="handleMushCheckboxChange($event)"></div>
                    <div><label class="form-check-label">Neojaponicum Antlers</label></div>
                </div>


                <div class=" option-card form-check form-check-inline">
                    <img src="https://www.terrestrialfungi.com/cdn/shop/products/IMG_6289_1024x1024@2x.JPG?v=1550447041" alt="Multi">
                    <div><input class="form-check-input" type="checkbox" id="antlersMulti" value="antlersMulti" (change)="handleMushCheckboxChange($event)"></div>
                    <div> <label class="form-check-label"    >Multipileum Antlers </label></div>
                </div>
            </td>
        </tr>
        <tr>
            <td><h3> Pick Three Flowers: </h3></td>
            <td>
                <div class="dried-mushrooms-option"></div>
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="pampas" value="pampas" (change)="handleFlowersCheckboxChange($event)" >
                    <label class="form-check-label" >Pampas </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="babysBreath" value="babysbreath" (change)="handleFlowersCheckboxChange($event)">
                    <label class="form-check-label" > Baby's Breath </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="palmFronds" value="palmfronds" (change)="handleFlowersCheckboxChange($event)">
                    <label class="form-check-label" >Palm Fronds</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="caspia" value="caspia" (change)="handleFlowersCheckboxChange($event)">
                    <label class="form-check-label" >Caspia </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="eucalyptus" value="eucalyptus" (change)="handleFlowersCheckboxChange($event)">
                    <label class="form-check-label" >Eucalyptus </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="wheatgrass" value="wheatgrass" (change)="handleFlowersCheckboxChange($event)">
                    <label class="form-check-label" >Wheatgrass</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="bunntails" value="bunnytails" (change)="handleFlowersCheckboxChange($event)">
                    <label class="form-check-label" >Bunny Tails</label>
                </div>
            </td>
        </tr>
        <tr>
            <td><h3> Pick A Wrap Color: </h3></td>
            <td> <input type="color"> </td>
        </tr>
        <tr>
            <td></td>
            <td><button type="button"> Preview Bouquet </button></td>
        </tr>
    </table>
</form>

<form *ngIf="isDried == false" id="edibleBouquetForm" class="edible-bouquet-form">

    <table>
        <tr>
            <td><h3> Pick Three Mushrooms </h3></td>
            <td>
                <div class="edible-mushrooms-option"></div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="antlersLingzhi" value="antlersLingzhi">
                    <label class="form-check-label" >Pink Oysters</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="conksLingzhi" value="conksLingzhi">
                    <label class="form-check-label" >Golden Oysters </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="blackLingzhi" value="blackLingzhi">
                    <label class="form-check-label" >Blue Oysters</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="antlersMulti" value="antlersMulti">
                    <label class="form-check-label" > Coral Tooth</label>
                </div>
            </td>
        </tr>
        <tr>
            <td><h3> Pick A Wrap Color: </h3></td>
            <td> <input type="color"> </td>
        </tr>
        <tr>
            <td></td>
            <td><button type="button"> Preview Bouquet </button></td>
        </tr>
    </table>
</form>


</div>