<div class="customise-page">

    <h1>CUSTOMISE A BOUQUET</h1>

    <div class="select-custom-type">
        <form [formGroup]="typeForm">
            <table>
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h2> Select Type of Bouquet: </h2>
                        </td>
                        <td><select id="type" name="type" formControlName="type" (change)="selectType($event)"
                                class="select-dropdown">
                                <option value="edible"> Edible Bouquet</option>
                                <option value="dried"> Dried Bouquet</option>
                            </select></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>




    <form *ngIf="isDried" id="driedBouquetForm" class="dried-bouquet-form" [formGroup]="driedMushForm">
        <table>
            <tr>
                <td>
                    <h3>Name New Bouquet:</h3>
                </td>
                <td><input type="text" formControlName="name"></td>
            </tr>
            <tr>
                <td>
                    <h3>Give Bouquet ID:</h3>
                </td>
                <td><input type="text" formControlName="bouquetId"></td>
            </tr>
            <tr>
                <td>
                    <h3>Add Description:</h3>
                </td>
                <td><textarea type="text" formControlName="description"></textarea></td>
        </tr>
        <tr>

            <td> <h3> Add Mushrooms: </h3> </td>
            <td>
        <div (change)="handleMushCheckboxChange($event)" >
                <div class="option-card form-check form-check-inline">
                    
                    <img src="https://liquidfungi.com/cdn/shop/products/REISHI-MUSHROOMS-2-1.jpg?v=1629945541&width=1000" alt="Antlers Lingzhi">
                    <input class="form-check-input" type="checkbox" id="lingzhiAntlers" value="lingzhiAntlers"  >
                    <label class="form-check-label" >Sessile Antlers </label>
                </div>
                <div class="option-card form-check form-check-inline">

                    <img src="https://liquidfungi.com/cdn/shop/products/7d7f2ea702b728a1f2786d519fbf3f79_cropped_optimized.jpg?v=1629946532&width=1000" alt="Conks">
                    <input class="form-check-input" type="checkbox" id="lingzhiConks" value="lingzhiConks" >
                    <label class="form-check-label"   >Sessile Conks </label>
            
                </div>

                <div class="option-card form-check form-check-inline">
                    <img src="https://images.squarespace-cdn.com/content/v1/5e6f0b6e123de724cdb5c87c/1662867919352-PFCVHRXL62VIQRV2HIFM/75525361-1894-4CD5-81A6-813910ACACE5.JPG?format=1500w" alt="NeoJap">
                    
                    <input class="form-check-input" type="checkbox" id="lingzhiBlack" value="lingzhiBlack" >
                    <label class="form-check-label">Neojaponicum Antlers</label>
                </div>

                <div class=" option-card form-check form-check-inline">
                    <img src="https://www.terrestrialfungi.com/cdn/shop/products/IMG_6289_1024x1024@2x.JPG?v=1550447041" alt="Multi">
                    <input class="form-check-input" type="checkbox" id="multiAntlers" value="multiAntlers" >
                     <label class="form-check-label"> Multipileum Antlers </label>
                </div>
            </div>
            </td>
        </tr>

        <tr>
            <td><h3> Add Flowers: </h3></td>
            <td>
            <div class="dried-flowers-option" (change)="handleFlowersCheckboxChange($event)">
                
                <div class=" option-card form-check form-check-inline">
                    <img src="https://floweraccents.ca/cdn/shop/products/78801cdc-68af-4bc9-9e9b-8345d7634f89_551x.jpg?v=1617470519" alt="NeoJap">
                    <input class="form-check-input" type="checkbox" id="pampas" value="pampas"  >
                    <label class="form-check-label" >Pampas </label>
                </div>
                <div class="option-card form-check form-check-inline">
                    <img src="https://m.media-amazon.com/images/I/81zmzabK2zL.jpg" alt="NeoJap">
                    <input class="form-check-input" type="checkbox" id="babysBreath" value="babysBreath" >
                    <label class="form-check-label" > Baby's Breath </label>
                </div>
                <div class="option-card form-check form-check-inline">
                    <img src="https://ziveliblog.files.wordpress.com/2019/11/593806cb0ec369607bd449b475318552-1.jpg" alt="NeoJap">
                    <input class="form-check-input" type="checkbox" id="palmFronds" value="palmFronds" >
                    <label class="form-check-label" >Palm Fronds</label>
                </div>
                <div class="option-card form-check form-check-inline">
                    <img src="https://wonderland.com.sg/wp-content/uploads/2018/12/caspia-1-1.jpg" alt="NeoJap">
                    <input class="form-check-input" type="checkbox" id="caspia" value="caspia" >
                    <label class="form-check-label" >Caspia </label>
                </div>
                <div class="option-card form-check form-check-inline">
                    <img src="https://m.media-amazon.com/images/I/71T2TmrSQML._AC_UF894,1000_QL80_.jpg" alt="NeoJap">
                    <input class="form-check-input" type="checkbox" id="eucalyptus" value="eucalyptus" >
                    <label class="form-check-label" >Eucalyptus </label>
                </div>
                <div class="option-card form-check form-check-inline">
                    <img src="https://m.media-amazon.com/images/I/71yYFWxZxML._AC_UF894,1000_QL80_.jpg" alt="NeoJap">

                    <input class="form-check-input" type="checkbox" id="wheatgrass" value="wheatgrass" >
                    <label class="form-check-label" >Wheatgrass</label>
                </div>
                <div class="option-card form-check form-check-inline">
                    <img src="https://www.kukkaflowers.com/cdn/shop/products/preserved-bunny-tail-natural.jpg?v=1677101315" alt="NeoJap">

                    <input class="form-check-input" type="checkbox" id="bunnyTails" value="bunnyTails" >
                    <label class="form-check-label" >Bunny Tails</label>
                </div>
            </div>

            </td>
        </tr>

        <tr>
            <td><h3> Pick A Wrap Color: </h3></td>
            <td> <input type="color" class="form-control form-control-color" formControlName="wrap"> </td>
        </tr>
        <tr>
            <td><h3> Set Base Price: </h3></td>
            <td> <input type="basePrice" class="form-control form-control-color" formControlName="basePrice"> </td>
        </tr>
        <tr>
            <td></td>
            <td><button type="button" (click)="processAdminBouquet()" > Preview Bouquet </button></td>
        </tr>
    </table>
</form>

<form *ngIf="isDried == false" id="edibleBouquetForm" class="edible-bouquet-form" [formGroup]="edibleMushForm">

    <table> 
        <tr>
        <td><h3>Name New Bouquet:</h3></td>
        <td><input type="text" formControlName="name"></td>
    </tr>  
    <tr>
        <td><h3>Give Bouquet ID:</h3></td>
        <td><input type="text" formControlName="bouquetId"></td>
    </tr>

    <tr>
        <td><h3>Add Description:</h3></td>
        <td><textarea type="text" formControlName="description"> </textarea></td>
    </tr>
        <tr>
            <td><h3> Add Mushrooms </h3></td>
         <td>
             <div (change)="handleEdibleMushCheckboxChange($event)">
                <div class="edible-mushrooms-option"></div>
                <div class="option-card form-check form-check-inline">
                    <img src="https://i.shgcdn.com/e8476681-e7c6-4c01-aafd-0d4c1097d514/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="NeoJap">
                    <input class="form-check-input" type="checkbox" id="pinkOyster" value="pinkOyster">
                    <label class="form-check-label" >Pink Oysters</label>
                </div>
                
                <div class="option-card form-check form-check-inline">
                    <img src="https://grocycle.com/wp-content/uploads/2022/08/Yellow-oyster-mushroom-gills-1024x656.jpg" alt="NeoJap">
                    <input class="form-check-input" type="checkbox" id="goldenOyster" value="goldenOyster">
                    <label class="form-check-label" >Golden Oysters </label>
                </div>
                <div class="option-card form-check form-check-inline">
                    <img src="https://grocycle.com/wp-content/uploads/2022/08/Yellow-oyster-mushroom-gills-1024x656.jpg" alt="NeoJap">

                    <input class="form-check-input" type="checkbox" id="blueOyster" value="blueOyster">
                    <label class="form-check-label" >Blue Oysters</label>
                </div>
                <div class="option-card form-check form-check-inline">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/12/2009-09-25_Hericium_coralloides_%28Scop.%29_Pers_58068_crop.jpg" alt="NeoJap">

                    <input class="form-check-input" type="checkbox" id="coralTooth" value="coralTooth">
                    <label class="form-check-label" > Coral Tooth</label>
                </div>
                <div class="option-card form-check form-check-inline">
                    <img src="https://images.squarespace-cdn.com/content/v1/5e6f0b6e123de724cdb5c87c/1707224371150-6DPZJBW41J71R78GH77P/IMG_7205.jpg?format=1000w" alt="NeoJap">
                    <input class="form-check-input" type="checkbox" id="lionsMane" value="lionsMane">
                    <label class="form-check-label" >Lion's Mane</label>
                </div>
                <div class="option-card form-check form-check-inline">
                    <img src="https://specialtyproduce.com/sppics/10499.png" alt="NeoJap">
                    <input class="form-check-input" type="checkbox" id="yanagi" value="yanagi">
                    <label class="form-check-label" >Yanagi Matsutake</label>
                </div>
            </div>
            </td>
        </tr>
        <tr>
            <td><h3> Wrap Color: </h3></td>
            <td> <input type="color" class="form-control form-control-color"> </td>
        </tr>
        <tr>
            <td><h3> Set Base Price: </h3></td>
            <td> <input type="basePrice" class="form-control form-control-color" formControlName="basePrice"> </td>
        </tr>
        <tr>
            <td></td>
            <td><button type="button" (click)="processAdminBouquet()" > Preview Bouquet </button></td>
        </tr>
    </table>
</form>
</div>
