.content{
    padding: 20px;
    padding-top: 150px;
}
.bouquet-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #831e1e;
    border-radius: 5px;
  }
  
  .thumbnail-container {
    flex:1;
    margin-right: 20px;
    
  }

  .filter-buttons {
padding: 20px;
  }
  
  .thumbnail {
    width: 100px;
    flex:1;
    border-radius: 5px;
  }
  
  .details-container {
    flex: 1;
    padding: 10px;
  }

  h1 {
    font-size:4vw;
    font-style: normal;
    position: relative;
    font-weight: normal;
    color: rgb(70, 16, 16);
    line-height: 0.8;
  }
  h2 {
    font-size:2vw;
    font-style: normal;
    position: relative;
    font-weight: normal;
    line-height: 0.8;
  }
  
  .name {
    font-size: 1.2rem;
    margin-top: 0;
  }
  
  .description {
    font-size: 1rem;
    color: #666;
  }
  
  .price {
    font-size: 1.1rem;
    margin-top: 5px;
  }
  
  .add-to-cart {
    background-color: #561431;
    color: #000000;
    border: none;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .add-to-cart:hover {
    background-color: #060000;
  }
  